.conhecimentos{width: 100%; 
    box-sizing: border-box; display: flex;
    justify-content: center; align-items: center; }
    
    .galeriaTecnologias img{width: 20vw; position: absolute;
    top: 0; left: 0;}
    
    section:nth-child(4){
    transform: translateY(-30%);
    background-color: var(--ConhecimentosColor);}
    
    .galeriaTecnologias{width: 20vw; height: 20vw;
    position: relative; transform-style: preserve-3d;
    animation: animate 20s linear infinite;}
    
    @keyframes animate{
        0%{transform: perspective(5000px) rotateY(0deg);}
        100%{transform: perspective(5000px) rotateY(360deg);}
    }
    
    .galeriaTecnologias span{position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; transform-origin: center;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(30vw);}
    
    .containerGaleria{width: 80%; height: 35vw; left: 50%;
    transform: translateX(-50%) translateY(15%); position: relative; overflow: hidden;}
    
    .galeria{width: 100%; height: 100%; 
    transform: translateY(-30%);
    display: flex; align-items: center;}
    
    .item{width: 30vw; height: 20vw; position: absolute;
    transition: 1s all ease; display: flex;}
    
    .item:nth-child(1){z-index: 1; left: 0; transform: translateX(-100%) scale(.7);}
    .item:nth-child(2){z-index: 2; left: 0; transform: translateX(-20%) scale(.7);}
    .item:nth-child(3){z-index: 4; left: 50%; transform: translateX(-50%) scale(1);}
    .item:nth-child(4){z-index: 2; left: 100%; transform: translateX(-80%) scale(.7);}
    .item:nth-child(5){z-index: 1; left: 100%; transform: scale(.8);}
    .item:nth-child(6){z-index: 1; left: 100%; transform: scale(.8);}
    .item:nth-child(7){z-index: 1; left: 100%; transform: scale(.8);}
    .item:nth-child(8){z-index: 1; left: 100%; transform: scale(.8);}
    
    .gallery__prev, .gallery__next {position: absolute; top: 0;
    transform: translateX(-50%) translateY(-50%) scale(.8);
    z-index: 4; width: 20%; height: 150%; cursor: pointer;}
    
    .gallery__prev {left: 0;}
    
    .gallery__next {left: 100%;}
    
    .miniaturas{width: 100%; height: 10vw; position: absolute; 
    transform: translateY(-150%); display: flex; justify-content: space-around;}
    
    
    .mini{width: 20%; height: 70%;
    transition: 1s all ease; z-index: 6;
    transition: 1s all ease; transform: scale(0.8);}
    
    .focus{transform: scale(1); transition: 1s all ease;}
    
    .mini:hover{cursor: pointer;}
    
    .item img{width: 25vw; position: relative; top: 50%;
    transform: translate(10%, -37%);}
    
    .mini img{width: 9vw;}