
.contato h1{position: absolute;  color: var(--abasColor);
font-size: 8vw; transform: translateY(30%);}

.contato button{padding: 2vw 1vw; font-size: 5vw;
cursor: pointer; border: none;
color:var(--h1Color); background-color: var(--abasColor);
border-radius: 1vw; margin-left: 50%;
transform: translateX(-50%) translateY(50%);}

.contatoContainer{transform: translateY(-8%); 
background-image: var(--backgroundContatosMobile);
background-position-y: -10%;
background-size: 100%; background-repeat: no-repeat;
height: 180vw; display: flex; flex-direction: column;}

.contato{width: 0%; transition: all 1s ease; 
height: 0%; overflow: hidden; margin-top: 40%; 
display: flex; justify-content: center; }

.forms input::placeholder{color: transparent;}

#msg{max-width: 90%; font-size: 5vw;
max-height: 40vw; margin-left: 50%; margin-top: 10vw;
transform: translateX(-50%) translateY(20%);
resize: none; background-color: transparent;
padding: 0.5vw; box-sizing: border-box;
outline: none; transition: all 0.2s ease;
overflow: hidden; border-width: 0.3vw;}

#msgLabel{color: var(--abasColor); font-size: 5vw;
position: relative; bottom: 40vw;
transform: translateX(-20%);}

#msg:focus{border-color: #A7C4D2;}

#msg:focus + label{color:#A7C4D2;}

.contato form{width: 90%; display: flex;
flex-direction: column; height: 100%; border-radius: 2vw;
background-color: var(--h1Color); justify-content: center;}

.forms label{display: block; transition: all 0.3s ease;
font-size: 5vw;}

.contatoDoneDimensions{width: 100%; height: 100%;}
.contatoDoneTranslate{margin-left: 50%; transform: translateX(-50%);}

.forms input{border-style: none none solid none;
margin-left: 50%; transform: translateX(-50%);
border-width: 0.3vw; transition: all 0.3s ease;
background-color: transparent; width: 90%;
font-size: 5vw; margin-top: 5vw;
border-color: var(--abasColor); padding-top: 5vw;}

.forms label{margin-left: 22%;
transform:  translateX(-20%) translateY(-100%);
color: var(--abasColor);}

.forms input:focus{outline: none; border-color: #A7C4D2;}

.forms input:focus + label {color: #A7C4D2;}

.forms input:focus + label,
.forms input:not(:placeholder-shown) + label{
transition: all 0.3s ease;
transform:translateX(-22%) translateY(-3.5em);
font-size: 3vw;}

.forms:focus-within{transform: scale(1.02, 1.02);
transition: all 0.2s ease;}

.erro{position: absolute; color: rgb(228, 123, 123);
font-size: 4vw; transform: translateY(-10%); opacity: 0;
margin-left: 5%;}


.statusMsg{background-color: rgb(228, 123, 123); color: #4E5A62; 
    width: 90%;
    padding: 5vw; border-radius: 1vw; position: absolute; top: 0; left: 50%;
    font-size: 6vw; transition: all 1s ease; opacity: 0; display: flex;
    align-items: center; justify-content: center; text-align: center;
    transform: translateX(-50%) translateY(0%);}
    
    .statusMsgOn{background-color: rgb(228, 123, 123); color: #4E5A62;
    width: 90%;
    padding: 5vw; border-radius: 1vw; position: absolute; top: 0; left: 50%;
    font-size: 6vw; z-index: 55; opacity: 0;
    display: flex;text-align: center;
    align-items: center; justify-content: center;
    animation: 2s ease-in-out  0s normal none running msgOn;
    }
    @keyframes msgOn{
    0%{opacity: 0; transform: translateX(-50%) translateY(0%);}
    20%{opacity:1; transform: translateX(-50%) translateY(200%);}
    25%{opacity:1; transform: translateX(-50%) translateY(180%);}
    30%{opacity:1; transform: translateX(-50%) translateY(200%);}
    60%{opacity:1; transform: translateX(-50%) translateY(200%);}
    70%{opacity:1; transform: translateX(-50%) translateY(200%);}
    100%{opacity:0; transform: translateX(-50%) translateY(200%);}
    
    }