#checkboxMenu{display: none;}

body{background-color: var(--bodyColor);}

.películaTransparente{width: 100vw; height: 100vh; position: absolute; z-index: 99;
background-color: transparent;}

.películaEscura{width: 100vw; height: 620vw; position: absolute; z-index: 99;
background-color: rgba(0, 0, 0, 0.391);}



/*------------------------------INÍCIO-----------------------------------*/

.início{background-repeat: no-repeat; width: 100vw;
background-size: cover; height: 140vw;
background-image: var(--backgroundInicioMobile);
display: flex; justify-content: center;}

.início h1{font-size: 5vw; color:var(--h1Color);
text-align: center;} 

.início div:first-of-type{display: flex;
justify-content: center; position: absolute;
align-items: center; flex-direction: column;
transform: translateY(40%); width: 100vw;}

.início div:last-of-type{ justify-content: center;
align-items: center; position: absolute;
transform: translateY(100%); display:flex;}

.logo{width: 50vw;}

.notebook{width: 80vw; z-index: 2;
animation: 3s linear infinite 0s normal none running flutuar;}
  
@keyframes flutuar{
    0%{transform: translate(0%, 0%);}
    50%{transform: translate(0%, -5%);}
    100%{transform: translate(0%, 0%);}
}

.itensFlutuantes{width: 13vw; position: absolute; z-index: 2;}

.sombra{width: 90vw; position: absolute;
opacity: 0.7; transform: translateY(30%);
animation: 3s linear infinite 0s normal none running variar;}

@keyframes variar{
    0%{transform: translate(1%, 40%); width: 90vw;}
    50%{transform: translate(1%, 40%); width: 92vw;}
    100%{transform: translate(1%, 40%); width: 90vw;}
}

.barra{width: 9vw; transform: translate(20%, -30%);
animation: 2.5s linear infinite 0s normal none running flutuarBarra;}


@keyframes flutuarBarra{
    0%{transform: translate(20%, -20%);}
    10%{transform: translate(20%, -30%);}
    20%{transform: translate(20%, -30%);}
    30%{transform: translate(20%, -30%);}
    40%{transform: translate(20%, -30%);}
    60%{transform: translate(20%, -30%);}
    70%{transform: translate(20%, -20%);}
    80%{transform: translate(20%, -20%);}
    90%{transform: translate(20%, -20%);}
    100%{transform: translate(20%, -20%);}
} 

.menorque{transform: translate(-20%, -20%); width: 13vw;
animation: 2.5s linear infinite 0s normal none running flutuarMenor;}

@keyframes flutuarMenor{
    0%{transform: translate(-20%, -20%);}
    20%{transform: translate(-20%, -20%);}
    40%{transform: translate(-20%, -20%);}
    60%{transform: translate(-20%, -10%);}
    80%{transform: translate(-20%, -10%);}
    100%{transform: translate(-20%, -20%);}
}

.maiorque{transform: translate(70%, 10%); width: 14vw;
animation: 2.5s linear infinite 0s normal none running flutuarMaior;}


@keyframes flutuarMaior{
    0%{transform: translate(60%, 0%);}
    10%{transform: translate(60%, 0%);}
    20%{transform: translate(60%, 0%);}
    30%{transform: translate(60%, -10%);}
    40%{transform: translate(60%, -10%);}
    50%{transform: translate(60%, -10%);}
    60%{transform: translate(60%, -10%);}
    70%{transform: translate(60%, -10%);}
    80%{transform: translate(60%, 0%);}
    90%{transform: translate(60%, 0%);}
    100%{transform: translate(60%, 0%);}
}

/*-----------------------ÍCONE DO MENU E FUNCIONAMENTO-----------------------*/

.menu label:first-of-type{width: 12vw; height: 12vw; position: fixed;
top: 0px; left: 6px; z-index: 99;}

#ícone{background-color: var(--h1Color); height: 0.5vw; width: 8vw;
position: fixed; top: 5.5vw; left: 4vw; z-index: 80; transition: 0.2s;}

#ícone::after{content: ''; background-color: var(--h1Color);
height: 0.5vw; width: 8vw; position: absolute; top: 2vw;
transition: 0.3s; z-index: 80;}

#ícone::before{content: ''; background-color:var(--h1Color);
height: 0.5vw; width: 8vw; position: absolute;
bottom: 2vw;  transition: 0.3s; z-index: 80;}

#checkboxMenu:checked ~ span{background-color: transparent;}

#checkboxMenu:checked ~ span::after{background-color: var(--h1Color);
transform: rotate(45deg) translate(-20%, -250%);}

#checkboxMenu:checked ~ span::before{background-color: var(--h1Color);
transform: rotate(-45deg) translate(-20%, 300%);}
/*----------------------------BTN-MAIS---------------------*/
#checkboxBtn{display: none;}

.lamp{width: 11vw; fill: var(--abasColor)}

.language{display: flex; flex-direction: column; color:var(--abasColor);
align-items: center; font-size: 6vw; margin-top: 10px;} 

.menu ul:last-of-type{ opacity: 0;
transition: 0.3s all ease; transform: scale(0.3);
position: fixed; right: 5vw; top: 79vh;
}

.btn_mais{background-color: var(--menuColor); width: 12vw; height: 12vw;
border-radius: 50%; position: fixed;
top:85vh; z-index: 999; left: 83vw;}

.fa-plus{font-size: 9vw; position: relative; top: 50%;
color: var(--colorLampM);
left: 50%; transform: translateX(-50%) translateY(-50%);}

#checkboxBtn:checked ~ ul{transform: translateY(-80%) scale(1); opacity: 1}
#checkboxBtn:checked ~ label div i{transition:0.4s ease all; transform: 
translateX(-50%) translateY(-50%) rotate(225deg)}
#checkboxBtn:not(:checked) ~ label div i{transition:0.4s ease all; transform: 
translateX(-50%) translateY(-50%) rotate(0deg)}

/*-------------------------------------MENU-----------------------*/
.str0 {stroke: transparent;stroke-width:1270;stroke-miterlimit:22.9256}
.fil0 {fill: var(--abasColor);fill-rule:nonzero}

.menu{width: 100vw; display: flex; position: fixed; background-color: transparent;
align-items: flex-start; justify-content: center; position: fixed;
top:0; z-index: 99; transition: all 0.5s ease; height: 5vh;}

.sessões{background-color: var(--h1Color); display: flex; width: 95%;
flex-wrap: wrap; text-align: center; border-radius: 8px;
margin-top: 13vw; transform: translateY(-500%); transition: all 0.5s ease;}

.sessões li{width: 50%; display: flex;
flex-direction: column; border-radius: 8px;}

.sessões li i{font-size: 7vw}

.sessões a{margin: 10px 10px; color: var(--abasColor);}

.sessões p{margin: 10px 10px; color: var(--abasColor);}

#checkboxMenu:checked ~ ul{transform: translateY(0%);}

.lamp{fill: var(--h1Color)}

.language{color:var(--h1Color)}


/*------------------------WELCOME----------------------------------------*/

.welcomeContainer{height: 100vh; width: 100%; top: 0;
z-index: 10; overflow: hidden; position: absolute;}

.notificaçãoContainer{transition: all 1s ease; 
height: 3vw; background-color:  var(--h1Color); border-radius: 8px;
padding: 10px 15px; position: absolute; right: 20vw; top: 20px;
display: none; font-size: 4vw; align-items: center;}

.notificaçãoContainer img{width: 15vw; position: absolute;
right: 0; transform: translate(120%, 0%);}

.notificaçãoContainer::after{content: ''; width: 8px; height: 8px;
background-color:  var(--h1Color); position: absolute;
transform: rotate(45deg) translate(35%, -35%); right: 0;} 

.campoDigitação{transition: all 1s ease; width: 80vw; height: 5vw;
background-color: white; border-radius: 8px; 
padding: 10px; margin: 0 auto; position: relative; top: 150vw;
transform: translateY(-200%); border: 2px solid #4E5A62;
display: flex; align-items: center; font-size: 5vw;}

.campoDigitação i{transform: rotate(45deg) translate(-50%, 50%);
font-size:8vw; position: absolute; right: 0; color: #4E5A62;} 

.campoDigitação i:hover{cursor: pointer;}

/*----------------------------SOBRE MIM-------------------------------------------*/

.btn_mais1{background-color: var(--colorLampM);}
.fa-plus1{color: var(--colorLampM2);}
.lamp1{fill: var(--colorLampM)}
.language1{color:var(--colorLampM)}
.btn_mais2{background-color: var(--colorLampM2);}
.fa-plus2{color: var(--colorLampM)}
.lamp2{fill: var(--colorLampM2)}
.language2{color: var(--colorLampM2)}