.sobreMimContainer{width: 100%; height: 40vw; display: flex;
background-image: var(--backgroundSobremim); 
transform: translateY(-20%); background-position-y: -11vw;
background-repeat: no-repeat; background-size: 100%;}

.sobreMim{display: flex; position: relative;
justify-content: center; width: 100%; height: 50%;}

.sobreMim img{width: 25vw;}

.sobreMim p{background-color:var(--h1Color); 
padding: 1vw; margin-bottom: 1vw;}

.oi{display: flex; flex-direction: column; justify-content: center;
align-items: flex-start; width: 60vw;} 

.p{background-color: var(--h1Color); display: flex;
padding: 0.8vw; border-radius: 1vw;}

.estrofeNone{display: none;}

.p p{word-wrap: break-word; max-width: 70vw; font-size: 1.2vw;}

.oi p{padding: 0.7vw; border-radius: 0.7vw; font-size: 1.2vw;}

.primeiroSpan{background-color:var(--abasColor);
width: 1vw; height: 1vw; margin: 0.1vw; border-radius: 50%;
animation: 1s linear infinite 0s normal none running digitandoSpanPrimeiro;}

.segundoSpan{background-color: var(--abasColor);
width: 1vw; height: 1vw; margin: 0.1vw; border-radius: 50%;
animation: 1s linear infinite 0s normal none running digitandoSpanMeio;}

.terceiroSpan{background-color:var(--abasColor);
width: 1vw; height: 1vw; margin: 0.1vw; border-radius: 50%;
animation: 1s linear infinite 0s normal none running digitandoSpanÚltimo;}

.none{display: none; }

@keyframes digitandoSpanPrimeiro{
0%{transform: translate(0%, -40%)}
10%{transform: translate(0%, -40%)}
20%{transform: translate(0%, 0%)}
30%{transform: translate(0%, 0%)}
40%{transform: translate(0%, 0%)}
50%{transform: translate(0%, 0%)}
60%{transform: translate(0%, 0%)}
70%{transform: translate(0%, 0%)}
80%{transform: translate(0%, 0%)}
90%{transform: translate(0%, 0%)}
100%{transform: translate(0%, -40%)}
}

@keyframes digitandoSpanMeio{
0%{transform: translate(0%, 0%)}
10%{transform: translate(0%, 0%)}
20%{transform: translate(0%, -40%)}
30%{transform: translate(0%, -40%)}
40%{transform: translate(0%, 0%)}
50%{transform: translate(0%, 0%)}
60%{transform: translate(0%, 0%)}
70%{transform: translate(0%, 0%)}
80%{transform: translate(0%, 0%)}
90%{transform: translate(0%, 0%)}
100%{transform: translate(0%, 0%)}
}

@keyframes digitandoSpanÚltimo{
0%{transform: translate(0%, 0%)}
10%{transform: translate(0%, 0%)}
20%{transform: translate(0%, 0%)}
30%{transform: translate(0%, 0%)}
40%{transform: translate(0%, 0%)}
50%{transform: translate(0%, -40%)}
60%{transform: translate(0%, -40%)}
70%{transform: translate(0%, 0%)}
80%{transform: translate(0%, 0%)}
90%{transform: translate(0%, 0%)}
100%{transform: translate(0%, 0%)}
}
