*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; list-style: none; 
text-decoration: none;}

/*---------------------------------------TELA INICIAL-------------------------*/

.inicio .fundo{overflow: hidden;}

#checkboxMenu{display: none;}

.inicio h1:first-of-type{position: absolute; color: #7fa8a8;
font-size: 5vw; top: 10vh; transform: translateY(50%);}

.inicio h1:last-of-type{position: absolute; width: 100vw; color: #7fa8a8;
font-size: 5vw; text-align: center; top: 10vh; transform: translateY(250%);}

.logo{width: 50vw; position: absolute; top: 10vh; transform: translateY(60%);}

.fundo{filter: blur(0px); transition: 0.2s; position: absolute; display: flex;
align-items: center; justify-content: center; background-image: linear-gradient(#bfcae0, white);
Width: 100%; height: 100vh;}

img[src = "./src/img/background.svg"]{ display: none;}

.notebook{width: 60vw; position: absolute; display: flex;
top: 10vh; left: 50%; z-index: 10;
animation: 3s infinite 0s normal none running flutuar;}

.sombra{width: 90vw; height: 50vw; position: absolute; display: flex;
top: 10vh; left: 50%; opacity: 0.5;
animation: 3s infinite 0s normal none running variar}

@keyframes flutuar{
    0%{transform: translate(-50%, 85%);}
    50%{transform: translate(-50%, 80%);}
    100%{transform: translate(-50%, 85%);}
}

@keyframes variar{
    0%{transform: translate(-50%, 170%); width: 93vw;}
    50%{transform: translate(-51%, 170%); width: 100vw;}
    100%{transform: translate(-50%, 170%); width: 93vw;}
}

.inicio .welcomeContainer{display: flex;}

.expand{display: none;}

.lamp{display: none;}

.language{display: none;}

#checkboxMenu{display: none;}

/*-------------------------ÍCONE MENU E FUNCIONAMENTO ----------------------------------*/
.menu label{width: 12vw; height: 12vw; position: fixed;
top: 0px; left: 6px; z-index: 99;}

#ícone{background-color: rgb(30, 52, 95); height: 0.5vw; width: 8vw;
position: fixed; top: 5.5vw; left: 4vw; z-index: 80;}

#ícone::after{content: ''; background-color: rgb(30, 52, 95);
height: 0.5vw; width: 8vw; position: absolute; top: 2vw;
transition: 0.3s; z-index: 80;}

#ícone::before{content: ''; background-color: rgb(30, 52, 95);
height: 0.5vw; width: 8vw; position: absolute;
bottom: 2vw;  transition: 0.3s; z-index: 80;}

#checkboxMenu:checked ~ span{background-color: transparent; transition: 0.2s;}

#checkboxMenu:checked ~ span::after{background-color: white;
transform: rotate(45deg) translate(-20%, -250%);}

#checkboxMenu:checked ~ span::before{background-color: white;
transform: rotate(-45deg) translate(-20%, 300%);}

/*----------------------------------MENU E FUNCIONAMENTO-------------------------------------*/

.menu{width: 100vw; display: flex; position: fixed; background-color: transparent;
align-items: flex-start; justify-content: center; height: 100vh; position: fixed;
top:0; z-index: 99; transition: all 0.5s ease;}

.sessões{background-color: #bfcae0; display: flex; width: 95%;
flex-wrap: wrap; background-color: #bfcae0;
text-align: center; border-radius: 8px; margin-top: 13vw;
transform: translateY(-500%); transition: all 0.5s ease;}

.sessões li{width: 50%; display: flex;
flex-direction: column; border-radius: 8px;}

.sessões li i{font-size: 7vw}

.sessões a{margin: 10px 10px; color: rgb(30, 52, 95);}

.sessões p{margin: 10px 10px; color: rgb(30, 52, 95);}

#checkboxMenu:checked ~ ul{transform: translateY(0%);}

/*-----------------------------------FUNCIONALIDADE DO BOAS-VINDAS----------------------------------------------*/


.welcomeContainer{height: 100vh; width: 100vw; position: absolute;
top: 0; z-index: 10; overflow: hidden;}
    
.notificaçãoContainer{transition: all 1s ease; height: 8vw;
background-color: #bfcae0; border-radius: 8px; padding: 10px 15px;
position: absolute; right: 20vw; top: 2vh; display: none; font-size: 5vw;
align-items: center;}
    
.notificaçãoContainer img{width: 15vw; position: absolute; right: 0;
transform: translate(120%, 0%);}
    
.notificaçãoContainer::after{content: ''; width: 15px; height: 15px;
background-color:  #bfcae0; position: absolute;
transform: rotate(45deg) translate(35%, -35%); right: 0;} 
    
.campoDigitação{transition: all 1s ease; width: 80vw; height: 8vw;
background-color: white; border-radius: 8px; border: 2px solid rgb(30, 52, 95);
padding: 10px; margin: 0 auto; position: relative; top: 100vh; transform: translateY(-120%);
display: flex; align-items: center;font-size: 5vw;}
    
.campoDigitação i{transform: rotate(45deg) translate(-50%, 50%); font-size:7vw; position: absolute; right: 0;
color: rgb(30, 52, 95);} 

.campoDigitação i:hover{cursor: pointer;}
    
    
 
    