.contato h1{position: absolute; top: 1.5vw; color: #4E5A62; font-size: 3vw;}

.contato{width: 30%; overflow: hidden; height: 6vw; background-color: #CCE7D4;
display: flex; justify-content: center; border-radius: 2vw;
transition: all 1s ease; position: relative; 
top:40%; box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.288);}

.contato button{padding: 1vw; font-size: 1.2vw;
border: none; color:#CCE7D4; background-color: #4E5A62;
border-radius: 0.5vw; margin-left: 50%; transform: translateX(-50%) translateY(50%);}

.contatoContainer{background-color: #4E5A62; transform: translateY(-65%);
background-image: url(../img/fundoContatos.svg); background-size: 100%;
background-repeat: no-repeat; background-position-y: 5%;
height: 35vw; display: flex; align-items: center;}

.contatoContainer form{margin-top: 7vw;}

.forms{margin:1vw 0; width: 20vw;}

.forms input{border-style: none none solid none;
border-width: 0.3vw; transition: all 0.3s ease; font-size: 1vw;
background-color: transparent; width: 100%; border-color: #4E5A62;
padding-top: 1vw;}

.forms input::placeholder{color: transparent;}

.forms input:focus{outline: none;
border-color: #A7C4D2;}

.forms input:focus + label {color: #A7C4D2;}

.forms input:focus + label,
.forms input:not(:placeholder-shown) + label{transform: translateY(-3em);
font-size: 1vw;}

.forms:focus-within{transform: scale(1.05, 1.05);
transition: all 0.2s ease;}

.forms label{transform: translate(0.2em, -1.45em);
transform-origin: 0 0; transition: all 0.3s ease;
color: #4e5a6270; display: block; font-size: 1.3vw;}

#msg{background-color: transparent; padding: 0.5vw; box-sizing: border-box;
outline: none; max-width: 20vw; max-height: 10vw; border-color: #4E5A62;
font-size: 1.3vw; transition: all 0.2s ease; transform: translateY(30%);
resize: none; overflow: hidden; border-width: 0.3vw;}

#msg:focus{border-color: #A7C4D2;}

#msg:focus + label{color:#A7C4D2;}

#msgLabel{color: #4e5a6270; display: block;
transform: none; position: relative; bottom: 9.5vw;
margin:0 0 0.4vw 0.1vw}
