.película{width: 100%; height: 100vh; position: absolute;
display: flex; overflow: hidden;}
.fundo{width: 100vw; height: 55vw; transform: translateY(-20%);
position: absolute;}
.película > h1:first-of-type{position: absolute; left: 15vw; top: 5vw;
color: #7fa8a8; font-size: 2vw;}
.película > h1:last-child{position: absolute; left: 15vw; top: 16vw; color: #7fa8a8;
font-size: 2vw;}

.logo{position: absolute; width: 20vw; left: 20vw; top: 8vw;}
.notebook{width: 30vw; height: 30vw;position: absolute; right: 0;
z-index: 10; animation: 3s infinite 0s normal none running flutuar;}
@keyframes flutuar{
    0%{transform: translate(-40%, 30%);}
    50%{transform: translate(-40%, 25%);}
    100%{transform: translate(-40%, 30%);}
}

.sombra{position: absolute; width: 45vw;height:25vw; right: 0;
transform: translate(-10%, 90%); opacity: 0.7; 
animation: 3s infinite 0s normal none running variar; opacity: 0.5;}
@keyframes variar{
    0%{transform: translate(-10%, 90%); width: 45vw;}
    50%{transform: translate(-6%, 90%); width: 49vw}
    100%{transform: translate(-10%, 90%); width: 45vw;}
}

.fundoBranco{background-color: rgb(255, 255, 255); width: 100%; height: 100vh;}