*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; list-style: none; 
text-decoration: none; }

#checkboxMenu{display: none;}

/*-----------------------------FUNDO-------------------------------------*/

.inicio{width: 100vw; height: 100vh;}

.fundo{height: 100vh; width: 100vw; overflow: hidden;}

.fundo img:first-of-type{transform: translate(0.2%, -3%);}

.notebook{position: absolute; right: 0; width: 30vw;
height: 30vw; animation: 3s infinite 0s normal none running flutuar; z-index: 2;}

@keyframes flutuar{
    0%{transform: translate(-40%, 30%);}
    50%{transform: translate(-40%, 25%);}
    100%{transform: translate(-40%, 30%);}
}

.sombra{position: absolute; width: 45vw; height: 25vw; right: 0;
transform: translate(-10%, 90%); opacity: 0.5;
animation: 3s infinite 0s normal none running variar; opacity: 0.5;}

@keyframes variar{
    0%{transform: translate(-10%, 90%); width: 45vw;}
    50%{transform: translate(-6%, 90%); width: 49vw}
    100%{transform: translate(-10%, 90%); width: 45vw;}
}


.logo{position: absolute; width: 20vw; left: 20vw; top: 8vw;}

.fundo > h1:first-of-type{position: absolute; left: 15vw; top: 5vw;
color: #7fa8a8; font-size: 2vw;}

.fundo > h1:last-child{position: absolute; left: 15vw; top: 16vw; color: #7fa8a8;
font-size: 2vw;}

/*----------------------------------WELCOME------------------------------------*/
.welcomeContainer{height: 100vh; width: 100vw; position: absolute; top: 0;
z-index: 10; overflow: hidden;}

.notificaçãoContainer{transition: all 1s ease; 
height: 3vw; background-color:  #bfcae0; border-radius: 8px;
padding: 10px 15px; position: absolute; right: 7vw; top: 20px; display: none;
font-size: 1.3vw; align-items: center;}

.notificaçãoContainer img{width: 5vw; position: absolute; right: 0;
transform: translate(120%, 0%);}

.notificaçãoContainer::after{content: ''; width: 15px; height: 15px;
background-color:  #bfcae0; position: absolute;
transform: rotate(45deg) translate(35%, -35%); right: 0;} 

.campoDigitação{transition: all 1s ease; width: 40vw; height: 3vw;
background-color: white; border-radius: 8px; border: 2px solid rgb(30, 52, 95);
padding: 10px; margin: 0 auto; position: relative; top: 100vh;
transform: translateY(-150%); display: flex; align-items: center; font-size: 1.7vw;}

.campoDigitação i{transform: rotate(45deg) translate(-50%, 50%); font-size:3vw; position: absolute;
right: 0; color: rgb(30, 52, 95);} 

.campoDigitação i:hover{cursor: pointer;}

/*-------------------------------MENU-------------------------------------*/

.menu{height: 100vh; width: 45px; background-color: #bfcae06b;
position: fixed; top: 0; display: flex; transition: all .2s ease;
z-index: 999;}

.menu ul{Width: 100%;}

.sessões li a{ color: rgb(82,101,140); display: flex;
margin-top: 30px; align-items: center; overflow: hidden; transition: 0.2s;}

.sessões li:hover a{color: #bfcae0;}

.sessões li a i{margin-left: 10px; font-size: x-large;}

.sessões li a p{margin-left: 30px; font-size: large; text-align: center;
white-space: nowrap;}

.menu ul:last-of-type{position: absolute; align-self: flex-end; display: flex;
flex-direction: column; align-items: center; width: 100%;}

.menu ul:last-of-type li{margin-bottom:10px;}

.expand{width: 40px; background-color: rgb(82,101,140); height: 40px;
position: absolute; border-radius: 50%; align-self: center; right: 0;
transform: translateX(50%); z-index: 999;}

.arrow{width: 10px; height: 10px; position: absolute;
border: 5px solid #bfcae0; border-radius: 5px; border-left: none;
border-bottom: none; transform: rotate(45deg) translate(110%, 10%);
transition: .2s;}

.arrow::before{content: ''; position: absolute; width: 20px;
height: 5px; background-color: #bfcae0;
transform: rotate(-45deg) translate(-20%, -180%) scaleX(0);
transition: .2s; transform-origin: right; border-radius: 2px;}

.expand:hover .arrow{transform: rotate(46deg) translate(140%, -20%);}

.expand:hover{cursor: pointer;}

.expand:hover .arrow::before{transform: rotate(-45deg) translate(-20%, -180%) scaleX(1)}

.expandLeft{width: 10px; height: 10px; position: absolute;
border: 5px solid #bfcae0; border-radius: 5px; border-left: none;
border-bottom: none; transform: rotate(-45deg) translate(10%, 120%) scaleX(-1);
transition: .2s;}
    
.expandLeft::before{content: ''; position: absolute; width: 20px;
height: 5px; background-color: #bfcae0;
transform: rotate(-45deg) translate(-20%, -180%) scaleX(0);
transition: .2s; transform-origin: right; border-radius: 2px;}
    
.expand:hover .expandLeft{transform: rotate(-45deg) scaleX(-1) translate(10%, 110%);}
        
.expand:hover .expandLeft::before{transform: rotate(-45deg) translate(-20%, -180%) scaleX(1)}

.lamp{fill: rgb(30, 52, 95);}

.lamp:hover{cursor: pointer;}

.language{text-align: center; color: rgb(30, 52, 95)}

.language:hover{cursor: pointer;}