.sobreMimContainer{width: 100%;
height: 30vw; display: flex;
justify-content: center; align-items: center;}

.sobreMim{display: flex; align-items: center;
justify-content: center; width: 100%;
height: 50%;}

.sobreMim img{width: 20vw;}

.sobreMim p{background-color:#bfcae0; font-size: 1.5vw;
padding: 1.2vw; border-radius: 1vw; margin-bottom: 1vw;}

.oi{background-color: ; display: flex;
flex-direction: column; justify-content: center;
align-items: flex-start; width: 50vw;} 

.p{background-color: #bfcae0; display: flex;
padding: 1.2vw; border-radius: 1vw;
font-size: 1.5vw;}

.estrofeNone{display: none;}

.p div{word-wrap: break-word; max-width: 40vw;}

.primeiroSpan{background-color: rgb(82,101,140);
width: 1vw; height: 1vw; margin: 0.1vw; border-radius: 50%;
animation: 1s linear infinite 0s normal none running digitandoSpanPrimeiro;
}

.segundoSpan{background-color: rgb(82,101,140);
width: 1vw; height: 1vw; margin: 0.1vw; border-radius: 50%;
animation: 1s linear infinite 0s normal none running digitandoSpanMeio;
}

.terceiroSpan{background-color: rgb(82,101,140);
width: 1vw; height: 1vw; margin: 0.1vw; border-radius: 50%;
animation: 1s linear infinite 0s normal none running digitandoSpanÚltimo;
}

.none{display: none;}

@keyframes digitandoSpanPrimeiro{
    0%{transform: translate(0%, -40%)}
    10%{transform: translate(0%, -40%)}
    20%{transform: translate(0%, 0%)}
    30%{transform: translate(0%, 0%)}
    40%{transform: translate(0%, 0%)}
    50%{transform: translate(0%, 0%)}
    60%{transform: translate(0%, 0%)}
    70%{transform: translate(0%, 0%)}
    80%{transform: translate(0%, 0%)}
    90%{transform: translate(0%, 0%)}
    100%{transform: translate(0%, -40%)}
}

@keyframes digitandoSpanMeio{
    0%{transform: translate(0%, 0%)}
    10%{transform: translate(0%, 0%)}
    20%{transform: translate(0%, -40%)}
    30%{transform: translate(0%, -40%)}
    40%{transform: translate(0%, 0%)}
    50%{transform: translate(0%, 0%)}
    60%{transform: translate(0%, 0%)}
    70%{transform: translate(0%, 0%)}
    80%{transform: translate(0%, 0%)}
    90%{transform: translate(0%, 0%)}
    100%{transform: translate(0%, 0%)}
}

@keyframes digitandoSpanÚltimo{
    0%{transform: translate(0%, 0%)}
    10%{transform: translate(0%, 0%)}
    20%{transform: translate(0%, 0%)}
    30%{transform: translate(0%, 0%)}
    40%{transform: translate(0%, 0%)}
    50%{transform: translate(0%, -40%)}
    60%{transform: translate(0%, -40%)}
    70%{transform: translate(0%, 0%)}
    80%{transform: translate(0%, 0%)}
    90%{transform: translate(0%, 0%)}
    100%{transform: translate(0%, 0%)}
}
