*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

.tela{background-color:; position: fixed; width: 100%; height: 700px}

.fotoMensagem{background-color:#699392; float: right; display: none;
border-radius: 10px; z-index: 11;
margin: 10px 40px; padding: 20px; transition: all 0.7s ease;}

.mensagem{background-color: ; font-size: large;
border-radius: 8px;}

.tela .fotoMensagem img{width: 70px; position: absolute; right: 30px; transform: translateY(35%);}

.campoBotão{display: flex; align-items: center; background-color: ;
overflow: hidden; position: relative; top: 100%; transform: translateY(-100%);}

.campo{width: 60%; background-color: ; border: 2px solid #33415e;
padding: 20px; font-size: x-large; margin: 0 auto 0 auto; height: 30px;
transition: all 0.7s ease; border-radius: 10px; background-color: white;}

.botão{width: 60px; float: right; position: relative; right: 22%; fill: #52658C;}

.animate{transform: translateX(2000px);}


.habla{width: 100px; fill:#699392; 
position: absolute; top:12px; right: 70px; z-index: 10;}
.tela{overflow: hidden;}