*{
    padding: 0; margin: 0; 
    list-style: none; 
    text-decoration: none; 
}
input[type="checkbox"]{display: none;}


/*-------------------------POSICIONAMENTO MENU--------------------------------*/

.menu ul{
    background-color: rgba(0, 128, 0, 0.418);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: xx-large;
    height: 100vh;
    width: 55px;
    z-index: 10;
    overflow: hidden;
    transition: all 0.3s ease;
}

.menu ul li a{
    display: flex; 
    margin: 20px 0 10px 0px; 
    text-align: center;
    position: relative;
    color: black;
    width: 200px;
}

.menu ul li a:hover{color: white;}

.nightIconContainer {
    background-color: ;
    display: flex;
    margin-top: 350px;
    align-items: center;
    justify-content: center;
    font-size: 40px
}
.nightIconContainer svg:hover{cursor: pointer;}
.translateContainer{
    background-color: ;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.translateContainer i:hover{cursor: pointer; color: white;}

.translateContainer i{font-size: 30px; background-color: ;}
.translateContainer p{font-size: large;}


/*-------------------------EFEITO HOVER MENU--------------------------------*/

/*.itemMenu::after{
    content: ''; 
    background-color: cadetblue; 
    width: 100%;
    position: absolute; 
    height: 2px; 
    top: 0; 
    left: 0; 
    transform: scaleX(0);
    transform-origin: left; 
    transition: all 0.2s ease;
}
.itemMenu::before{
    content: ''; 
    background-color: blue;
    width: 100%;
    position: absolute;
    height: 2px; 
    bottom: 0; 
    right: 0; 
    transform: scaleX(0);
    transform-origin: right; 
    transition: all 0.2s ease;
}
.itemMenu:hover::after{transform: scaleX(1);}
.itemMenu:hover::before{transform: scaleX(1);}*/

/*-------------------------BOTÃO EXPAND--------------------------------*/

.expand{width: 50px; height: 50px; background-color: greenyellow; border-radius: 50%;
transform: translateX(-50%); z-index: 91; display: flex; align-items: center;
justify-content: center;}
.expand:hover{cursor: pointer;}
.expand i{font-size: xx-large;}
.menu{display: flex; align-items: center;}
.menu ul li a i{margin-left: 10px;}
.menu ul li a p{margin-left: 40px; background-color: ; font-size: x-large;}

.animateArrowRight:hover > i{animation: 0.5s ease 0s normal none running animateRight;}

.animateArrowLeft:hover > i{animation: 0.5s ease 0s normal none running animateLeft;}

@keyframes animateRight{
    from{transform: translateX(0);}
    to{transform: translateX(40%);}
}
@keyframes animateLeft{
    from{transform: translateX(0);}
    to{transform: translateX(-40%);}
}

